<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>Coollab</string>
        <key>CFBundleIconFile</key>
        <string>Coollab.icns</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>coollab</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>Coollab.icns</string>
                <key>CFBundleTypeName</key>
                <string>Coollab Project</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.coollab</string>
                </array>
                <key>NSExportableTypes</key>
                <array>
                    <string>public.coollab</string>
                </array>
            </dict>
        </array>
        <key>CFBundleGetInfoString</key>
        <string></string>
        <key>CFBundleIdentifier</key>
        <string>coollab.launcher</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleLongVersionString</key>
        <string>1.0.0</string>
        <key>CFBundleName</key>
        <string>Coollab</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string></string>
        <key>CFBundleVersion</key>
        <string>1.0.0</string>
        <key>CSResourcesFileMapped</key>
        <true/>
        <key>NSHumanReadableCopyright</key>
        <string></string>
        <key>NSCameraUsageDescription</key>
        <string>This app requires camera access in order for the Webcam node to work and capture your camera.</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>This app requires microphone access in order for the Audio nodes to work and capture audio from your microphone.</string>
    </dict>
</plist>
