[submodule "Cool"]
	path = Cool
	url = https://github.com/CoolLibs/Cool
[submodule "lib/cmd"]
	path = lib/cmd
	url = https://github.com/CoolLibs/cmd
[submodule "lib/range-v3"]
	path = lib/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling/
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "lib/libnyquist"]
	path = lib/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist.git
[submodule "lib/RtAudioWrapper"]
	path = lib/RtAudioWrapper
	url = https://github.com/CoolLibs/RtAudioWrapper.git
[submodule "lib/dj_fft"]
	path = lib/dj_fft
	url = https://github.com/jdupuy/dj_fft.git
